* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 20px 35px;
    background-color: #343a3a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
    margin: 0;
    font-weight: lighter;
    font-size: 36px;
    color: #2a2a27;
    background-color: aqua;
  }

  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: aqua;
  }